:host {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;

  .button {
    transition: all 500ms ease-in-out;
    &:active {
      animation: click-animation 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
