@use "../../styles.scss";

:host {
  @include styles.primary-background();
  width: 70%;
  height: 50%;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 500ms;
  overflow: auto;
  position: absolute;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    text-overflow: clip;
  }

  .text {
    line-height: 150%;
    margin: auto 0;
  }
}
