:host {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;

  #wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  #footer {
    margin-bottom: 2rem;
    margin-top: auto;
  }
}
