html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$background-light: white;
$background-dark: black;
$background-shade: #7a9e7e;
$text-color: white;
$accent: #0077b6;

.app-background {
  background-color: $background-light;
  color: $text-color;
}

@media (prefers-color-scheme: dark) {
  .app-background {
    background-color: $background-dark;
  }
}
